<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Subani Shrestha

1. Firstly, I created my Google Cloud account, then imported authorization by pasting the link here through my google account.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

 1. I created a new project (My First project) in the BigQuery. It's id is linear-skill-339004 which I have used to navigate to the dataset 'austin_bikeshare.bikeshare_trips'. Here I took this helpful starting code provided in the lecture 5. Here count is used to count total number of trips , and number of trips of each start_sation_name are ordered in a descending order.

In [6]:
%%bigquery --project linear-skill-339004
SELECT 
  COUNT(*) as number_trips, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY number_trips DESC

     number_trips        start_station_name
0           72799      21st & Speedway @PCL
1           40635      Riverside @ S. Lamar
2           36520  City Hall / Lavaca & 2nd
3           35307            2nd & Congress
4           34758      Rainey St @ Cummings
..            ...                       ...
188             4           Marketing Event
189             2             Eeyore's 2018
190             1                    Stolen
191             1             Eeyore's 2017
192             1     cesar Chavez/Congress

[193 rows x 2 columns]

1. Here I used not equal(!=) to the most popular trip to get the second most popular trip which is Riverside @ S. lamar.

In [19]:

%%bigquery --project linear-skill-339004
SELECT start_station_name,
 COUNT(*) as most_popular_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name

HAVING most_popular_trip!= (SELECT MAX(most_popular_trip)as max_trip
FROM (
SELECT COUNT(*) as most_popular_trip, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
))
ORDER BY most_popular_trip DESC
LIMIT 1

     start_station_name  most_popular_trip
0  Riverside @ S. Lamar              40635

Here I took this helpful starting code provided in the lecture 5. Here, where symbol shows those station where start_ station is equal to end_station. Limit shows the number of data.

In [14]:

%%bigquery --project linear-skill-339004
SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
LIMIT 100

                 start_station_name  duration_minutes
0           Toomey Rd @ South Lamar                31
1           Toomey Rd @ South Lamar                31
2           Toomey Rd @ South Lamar                30
3   State Capitol @ 14th & Colorado                19
4   State Capitol @ 14th & Colorado                17
..                              ...               ...
95                Rainey @ River St                87
96                 Zilker Park West                11
97         ACC - West & 12th Street                17
98                Rainey @ River St                87
99          Toomey Rd @ South Lamar                 0

[100 rows x 2 columns]

2. Here Countif function is used  to meet the requirement trips lasted over an hour and were a round trip.

In [21]:
%%bigquery --project linear-skill-339004
SELECT *, COUNTIF(duration_minutes>60) as trip_over_an_hour
FROM (
  SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
)
GROUP BY duration_minutes, start_station_name
Order BY trip_over_an_hour DESC

         start_station_name  duration_minutes  trip_over_an_hour
0      Riverside @ S. Lamar                62                109
1      Riverside @ S. Lamar                61                 95
2      Riverside @ S. Lamar                63                 94
3      Riverside @ S. Lamar                69                 90
4               Zilker Park                61                 88
...                     ...               ...                ...
24822           26th/Nueces                40                  0
24823           26th/Nueces                17                  0
24824           26th/Nueces                53                  0
24825           26th/Nueces                48                  0
24826           26th/Nueces                18                  0

[24827 rows x 3 columns]