<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/quiz16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Subani Shrestha

In [1]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv ')

df.head(15).T

                                             0   ...                                   14
id          __export__.temp_log_196134_bd201015  ...  __export__.temp_log_196095_788b2c27
room_id/id                           Room Admin  ...                           Room Admin
noted_date                     08-12-2018 09:30  ...                     08-12-2018 09:22
temp                                         29  ...                                   29
out/in                                       In  ...                                   In

[5 rows x 15 columns]

In [8]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp          object
out/in        object
dtype: object