<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/Quiz4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Subani Shrestha**

1. Firstly, I created my Google Cloud account, then imported authorization by pasting the link here through my google account.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

 2. I created a new project (My First project) in the BigQuery. It's id is linear-skill-339004 which I have used to navigate to the dataset 'austin_bikeshare.bikeshare_trips'.

In [2]:
%%bigquery --project linear-skill-339004
SELECT *
  FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

            trip_id  ... duration_minutes
0        9900289692  ...               39
1        9900285987  ...               31
2        9900285989  ...               31
3        9900285991  ...               30
4        9900286140  ...               19
...             ...  ...              ...
1424781    23536417  ...               63
1424782    22837019  ...               68
1424783    20400249  ...               58
1424784    23184844  ...               40
1424785    23184851  ...               40

[1424786 rows x 9 columns]

3. Here, I used Avg function to get the average time for a trip based on starting point (start_station_name), and (start_time) where the time is less the 2022-01-20.

In [19]:
%%bigquery --project linear-skill-339004
SELECT 
    IFNULL(start_station_name, "") as start_station_name,
    TIMESTAMP_TRUNC(start_time, HOUR) as start_hour,
    AVG(duration_minutes) as average_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE DATE(start_time) < '2022-01-20'
GROUP BY start_station_name, start_time
ORDER BY start_station_name, start_time

                                        start_station_name  ... average_time
0                                         10th & Red River  ...     0.000000
1                                         10th & Red River  ...     7.000000
2                                         10th & Red River  ...     6.000000
3                                         10th & Red River  ...    10.000000
4                                         10th & Red River  ...    19.000000
...                                                    ...  ...          ...
1260472  Zilker Park at Barton Springs & William Barton...  ...    26.250000
1260473  Zilker Park at Barton Springs & William Barton...  ...    21.250000
1260474  Zilker Park at Barton Springs & William Barton...  ...    21.000000
1260475  Zilker Park at Barton Springs & William Barton...  ...    21.666667
1260476                              cesar Chavez/Congress  ...   114.000000

[1260477 rows x 3 columns]

4. Here, I used Count function to get the total number of trips based on each starting point (start_station_name), and (start_time) where the time is less the 2022-01-20.

In [17]:
%%bigquery --project linear-skill-339004
SELECT 
    IFNULL(start_station_name, "") as start_station_name,
    TIMESTAMP_TRUNC(start_time, HOUR) as start_hour,
    COUNT(*) as num_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE DATE(start_time) < '2022-01-20'
GROUP BY start_station_name, start_time
ORDER BY start_station_name, start_time

                                        start_station_name  ... num_trips
0                                         10th & Red River  ...         1
1                                         10th & Red River  ...         1
2                                         10th & Red River  ...         1
3                                         10th & Red River  ...         1
4                                         10th & Red River  ...         1
...                                                    ...  ...       ...
1260472  Zilker Park at Barton Springs & William Barton...  ...         4
1260473  Zilker Park at Barton Springs & William Barton...  ...         4
1260474  Zilker Park at Barton Springs & William Barton...  ...         2
1260475  Zilker Park at Barton Springs & William Barton...  ...         3
1260476                              cesar Chavez/Congress  ...         1

[1260477 rows x 3 columns]